/*
   1. animation-name : 애니메이션 keyframes와 연결할 이름
   2. animation-delay : 애니메이션 실행을 특정 시간동안 지연시켜준다.
   3. animation-fill-mode : 애니메이션 실행 후 속성이 지속되게 한다(forwards 적용 시)
   4. animation-iteration-count : 애니메이션 실행 횟수 지정
   5. animation-direction : 애니메이션 변화 후 변화 이전으로 자동 계산하여 실행(alternate 적용 시)
   6. animation-duration : 애니메이션 지속 시간 지정

   - 선택 요소에는 어떻게 애니메이션을 적용할지 지정해야 한다.
   - 어떠한 애니메이션을 적용할지 keyframes를 만들어야 한다.
*/

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  width: 200px;
  height: 200px;
  background: yellow;
  _animation-name: scale;
  _animation-duration: 1s;
  _animation-delay: 0.5s;
  _animation-iteration-count: 3;
  _animation-direction: alternate; /* 카운트 하나 당 한 방향 */
  _animation-fill-mode: forwards;
  _animation-timing-function: ease-in-out;
  /* 시간 설정 중 첫 번째는 duration, 두 번째는 delay */
  animation: scale 1s 0.5s 3 alternate forwards ease-in-out;
}

@keyframes scale {
  /* 0% {
    width: 200px;
    height: 200px;
    background: yellow;
  }
  100% {
    width: 400px;
    height: 400px;
    background: red;
  } */

  from {
    width: 200px;
    height: 200px;
    background: yellow;
  }
  to {
    width: 400px;
    height: 400px;
    background: red;
  }
}
