/*  - transform(변환)은 요소에 특정 변형 효과를 지정한다. 일반적으로 2d 변형은 4가지가 쓰인다. 변환 속성은 주변 요소에 영향을 주지 않는다.

  1. translate : 요소의 위치를 이동 시킨다. x, y 좌표를 각각 지정할 수 있고, 좌표 없이 (xpx, ypx) 방식으로 함께 지정할 수도 있다.
  2. scale : 요소의 크기를 변화 시킨다. x, y 좌표를 각각 지정할 수 있고, 좌표 없이 (x배율, y배율) 방식으로 함께 지정할 수도 있다.
  3. skew : 요소를 특정 각도로 비튼다. x, y 좌표를 각각 지정할 수 있고, 좌표 없이 (xdeg, ydeg) 방식으로 함께 지정할 수도 있다.
  skewX는 x축을 고정시키고 세로를 비틀고, skewY는 y축을 고정시키고 가로를 비튼다고 이해하면 된다.
  4. rotate : 요소를 특정 각도로 돌린다. 
  x, y축을 지정하면 해당 축을 기준으로 돌리게 되고, 둘 모두를 축약으로 지정하게 되면 중앙축이 적용되어 돌린다. */
/* 주축 이동 : justify-content, 교차축 이동 : align-items */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 3000px;
}

.wrapper {
  margin: auto;
  width: 250px;
}

/* 선 네모와 노란 네모 센터로 이동시키기 */

/* 'display: flex' 사용 */
/* 가운데로 정렬시킬 개채가 하나여도 'display: flex'를 사용하는 이유는 'justify-content'와 'align-items'를 사용하기 위함이다 (없으면 사용하지 못함) */
/* .wrapper > div {
  width: 250px;
  height: 250px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}


.wrapper > div > div {
  width: 150px;
  height: 150px;
  background: yellow;
} */

/* position 사용 */
.wrapper > div {
  width: 250px;
  height: 250px;
  border: 1px solid;
  position: relative;
}

.wrapper > div > div {
  width: 150px;
  height: 150px;
  background: yellow;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -75px;
  margin-left: -75px;
  transition: all 0.5s;
}

/* wrapper의 자식인 div 중 class가 translate인 자식의 자식인 div */
.wrapper > div.translate > div {
  /* translateX, translateY는 동시에 사용할 수 없음 동시 사용 시 하단처럼 사용 */
  transform: translate(30px, 20px); /*(X축, Y축)*/
}

.wrapper > div.scale > div {
  _transform: scaleX(1.5) scaleY(1.2);
  transform: scale(1.5, 1.2); /* (X배수, Y배수) */
}

.wrapper > div.skew > div {
  transform: skewY(40deg); /* 각도 */
  /* 작성된 축을 고정시키고 비튼다 
  ex) skewX(40deg) : 가로축을 고정시키고 40deg만큼 비튼다*/
}

.wrapper > div.rotate > div {
  transform: rotate(40deg);
}

/* 호버 */
/* .wrapper > div.rotate:hover > div {
  transform: rotate(40deg);
} */
